.App-Left {
  height: 100%;
  width: 19em;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 4em 2em;
}

.App-Left > * {
  color: ghostwhite;
}

.App-Right {
  margin-right: 19em; /* Same as the width of the sidenav */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  text-align: center;
  background-color: #282c34;
  min-height: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  margin: 2em 6em;
  max-width: 1400px;
}
